* {
  padding: 0;
  margin: 0;
}
.header_container {
  background-color: rgb(1, 67, 53);
  display: flex;
  padding: auto 10px;
  gap: 10px;
  color: white;
  height: 70px;
}
.logo_containers {
  display: flex;
  align-items: center;
  padding: 8px 10px;
}

.logo_containers img {
  height: 40px;
  object-fit: contain;
  cursor: pointer;
}

.logo_container {
  padding-right: 0px;
}

.delivery {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  padding: 5px;
}
.delivery p {
  font-size: 10px;
}
.search {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  overflow: hidden;
  width: 100%;
}
.search select,
.search input {
  padding: 10px;
  font-weight: bold;
  outline: 1px solid white;
}
.search select {
  bottom: none;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.search input {
  border: 1px solid white;
  width: 100%;
  margin-right: -2px;
}
.search svg {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 7px;
  background-color: rgb(169, 23, 111);
  color: white;
}
.search svg:hover {
  background-color: rgb(136, 8, 85);
}
.search:focus-within {
  max-height: fit-content;
  border: none;
  border: 2px solid rgb(235, 161, 173);
  margin: auto;
}
.search select {
  border: none;
  background-color: #f3f3f3;
  padding: 10px 12px;
  font-size: 14px;
  color: #111;
  cursor: pointer;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  height: 37px;
}

.order_container {
  border: none;
  gap: 10px;
  margin: 25px 0px;
  height: 25px;
}

.order_container a p span {
  text-decoration: none;
}

.language {
  text-decoration: none;
  color: white;
  border: none;

  width: 70px;
  display: flex;
}
.language select {
  background-color: #1a1a1a;
  border: none;
  color: white;
}
.language img {
  width: 30%;
}

.signIn p,
.signIn span,
.cart p,
a span {
  color: white;
}

.signIn {
  width: 150px;
  margin: 20px 0px;
font-size: 11px;
  text-decoration: none;
}
.return {
  font-size: 11px;
  text-decoration: none;
  color: white;
  justify-content: center;
  align-items: center;
  width: 150px;
  margin: 21px 0px;
  padding-right: 0px;
}
.cart svg {
  font-size: 40px;
}
.cart span{
  font-size: 16px;
  padding-left: 9px;
}
.cart {
  text-decoration: none;
  padding-right: 10px;
  margin: 4px 0px;
  position: relative;
  width: 50px;
  color: white;
}

.delivery:hover,
.logo_containers:hover,
.order_container:hover,
.signIn:hover,
.return:hover,
.cart:hover,
.lower_container ul li:hover {
  border: 1px solid white;
  border-radius: 3px;
}
.lower_container {
  background-color: #085749;
  color: white;
}
.lower_container ul {
  display: flex;
  list-style: none;
  gap: 5px;
}
.lower_container ul li {
  padding: 8px;
}
.lower_container ul li:first-child {
  display: flex;
  gap: 2px;
  align-items: center;
}

@media (max-width: 1024px) {
  .delivery {
    display: none;
  }

  .return {
    display: none;
  }

  .search {
    max-width: 500px;
  }
}

@media (max-width: 768px) {
  .signIn span {
    display: none;
  }

  .language {
    display: none;
  }

  .search {
    max-width: 100%;
  }
  .lower_container li:nth-child(n+5) {
    display: none; 
  }
}

@media (max-width: 600px) {
  .header_container {
    flex-wrap: wrap;
    padding: 8px;
  }

  .logo_containers {
    flex: 1;
  }

  .cart {
    margin-left: auto;
  }

  .search {
    order: 3;
    width: 100%;
    margin-top: 8px;
  }

  .signIn,
  .return {
    display: none;
  }
}
