.hero_img{
    position: relative;
}
.hero_img::before{
    content: "";
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 240px;
    background-image: linear-gradient(to bottom,rgba(255,255,255,0)
    ,rgb(255, 255, 255));
}


@media (max-width: 768px) {
    .hero_img::before{
        height: 150px;
 
}
}

@media (max-width: 600px) {
    .hero_img::before{
        height: 70px;
 
}
}
